<nav>
    <a href="/"><img src="/logo.png" alt=""></a>
    <ul>
        <li><a href="/" <%if(active=="index"){%>class="active"<%}%>>ALL</a></li>
        <li><a href="/newArticle" <%if(active=="new"){%>class="active"<%}%>>NEW ARTICLE</a></li>
    </ul>
</nav>